.country-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: column;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background:cornflowerblue;
    border: 1px solid black;
    margin: 20px;


}

.country-card img {
    margin: 10px;
   height: 100px;
   width:90%;
   max-height: 150px;
    
}

.description {
         width: 150px;
         height: auto;
         font-size: 10px;
         justify-content: center;

}

.description .name p {
    display: flex;
    justify-content: center;
    font-weight: 800;
    
}

.description > * {
    margin: 0px;
}