nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#FFFFFF ;
    height: 40px;
    border: 1px solid black;
}
nav .title-question {
    font-size: 12px;
    margin-left: 40px;
    letter-spacing: 1px;
   
    font-weight: 800;
}

nav .dark-mode {
    font-size: 8px;
    margin-right: 40px;
    font-weight: 800;
   
}